@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>@ViewData["error"]</h3>
    <h3>@ViewData["input"]</h3>
    <h3>@ViewData["number"]</h3>

    <form method="post">
        <input type="text" name="input">
        <input type="submit" value="Submit" class="submit" />
    </form>
</div>
